
@model CoolCat.PhotoGrapherLancer.Core.App.Models.photographerallprofilevm
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout_AdminPage.cshtml";
}

@section CSS{

    <style type="text/css">
        .toppad {
            margin-top: 20px;
        }
    </style>

}





<div class="content-wrapper">
    <div class="container">


        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="panel-title">
                        Your Profile




                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-md-offset-3" align="center">

                            <img alt="User Pic" src="@Url.Content(Model.p_Picture.ImagePath)" class="" style="height: 134px; width:160;">
                        </div>


                        <div class=" col-md-12 col-lg-12 col-xs-6 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Full Name :</td>
                                        <td>@Html.DisplayFor(model => model.photoGrapher.FullName)</td>
                                    </tr>
                                    <tr>
                                        <td>Email :</td>
                                        <td><a href="#">@Html.DisplayFor(model => model.photoGrapher.Email)</a></td>
                                    </tr>

                                    <tr>
                                        <td>Phone :</td>
                                        <td>@Html.DisplayFor(model => model.photoGrapherBasicProfile.Phone)</td>

                                    </tr>


                                    <tr>
                                        <td>Address :</td>
                                        <td>@Html.DisplayFor(model => model.photoGrapherBasicProfile.Address)</td>

                                    </tr>
                                    <tr>
                                        <td>Education :</td>
                                        <td>@Html.DisplayFor(model => model.photoGrapherBasicProfile.Education)</td>

                                    </tr>
                                    <tr>
                                        <td>Notes :</td>
                                        <td><p>@Html.DisplayFor(model => model.photoGrapherBasicProfile.Notes)</p></td>

                                    </tr>





                                </tbody>

                            </table>

                            <a href="/Admin/Deletephotographer/@Html.DisplayFor(model => model.photoGrapher.PhotoGrapherId)" class="btn btn-info">Delete</a>


                        </div>
                    </div>
                </div>


            </div>
        </div>






    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
